<?xml version="1.0" ?>
<config>
    <modules>
        <Oggetto_FAQ>
            <version>0.0.1</version>
        </Oggetto_FAQ>
    </modules>
    <frontend>
        <layout>
            <updates>
                <oggetto_faq>
                    <file>oggetto_faq.xml</file>
                </oggetto_faq>
            </updates>
        </layout>
        <routers>
            <oggetto_faq>
                <use>standard</use>
                <args>
                    <module>Oggetto_FAQ</module>
                    <frontName>FAQ</frontName>
                </args>
            </oggetto_faq>
        </routers>
    </frontend>
    <global>
        <blocks>
            <oggetto_faq>
                <class>Oggetto_Faq_Block</class>
            </oggetto_faq>
        </blocks>

        <models>
            <oggetto_faq>
                <class>Oggetto_Faq_Model</class>
                <resourceModel>oggetto_faq_resource</resourceModel>
            </oggetto_faq>
            <oggetto_faq_resource>
                <class>Oggetto_Faq_Model_Resource</class>
                <entities>
                    <question>
                        <table>oggetto_faq_question</table>
                    </question>
                </entities>
            </oggetto_faq_resource>
        </models>

        <resources>
            <oggetto_faq_setup>
                <setup>
                    <module>Oggetto_FAQ</module>
                    <connection>core_setup</connection>
                </setup>
            </oggetto_faq_setup>
        </resources>
    </global>
</config>